.home {
  background-image: url("../../assets/home.jpg");
  height: 91.2vh;
  height: 91.2svh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 15.5rem 0;
}

.home_wrap {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.home-logo {
  width: 35rem;
}

/* Gear */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gear_wrap {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: auto;
  align-items: center;
}

.gear_right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.gear_small {
  font-size: 12rem;
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: rgba(255, 255, 255, 0.75);
}

.gear_big {
  font-size: 17rem;
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: rgba(255, 255, 255, 0.75);
}

/* Title */
.title_wrap {
  margin-left: 2rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 5rem 2rem 5rem 4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sub_title {
  text-align: center;
  font-weight: lighter;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: rgb(177, 158, 9);
}

.line {
  width: 60%;
  margin: auto;
  color: white;
  padding: 0.1rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

/* MEDIA QUERIES (1366px DEVICES) */
@media screen and (max-width: 1366px) {
  .home {
    background-image: url("../../assets/home.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 8.45em 0;
  }

  .home_wrap {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .home-logo {
    width: 25rem;
  }

  .gear_wrap {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: auto;
    align-items: center;
  }

  .gear_right {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .gear_small {
    font-size: 8rem;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: rgba(255, 255, 255, 0.75);
  }

  .gear_big {
    font-size: 13rem;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: rgba(255, 255, 255, 0.75);
  }

  /* Title */
  .title_wrap {
    margin-left: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 5rem 2rem 5rem 4rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .sub_title {
    text-align: center;
    font-weight: lighter;
    margin-top: 2rem;
    font-size: 1.3rem;
    color: rgb(177, 158, 9);
  }

  .line {
    width: 60%;
    margin: auto;
    color: white;
    padding: 0.1rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
  }
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .home {
    padding: 5rem 0;
  }

  .gear_right {
    gap: 1.5rem;
  }

  .gear_small {
    font-size: 5.5rem;
  }

  .gear_big {
    font-size: 8rem;
  }

  /* Title */
  .title_wrap {
    gap: 0.3rem;
    padding: 3rem 1.5rem 3rem 3rem;
    margin-right: 0.5rem;
  }

  .home-logo {
    width: 20rem;
  }

  .sub_title {
    font-size: 1.1rem;
  }

  .line {
    padding: 0.07rem;
    margin-top: 1rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .home {
    padding: 3rem 0;
  }

  .home_wrap {
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .gear_right {
    gap: 1rem;
  }

  .gear_small {
    font-size: 3.5rem;
  }

  .gear_big {
    font-size: 6rem;
  }

  /* Title */
  .title_wrap {
    gap: 0.2rem;
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
  }

  .home-logo {
    width: 60vw;
    margin-left: 10%;
  }

  .sub_title {
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }
}
